
  body{
    background: linear-gradient(to bottom right, #f8eef0, #f9f9d4);
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .header-container{
    margin-bottom: 90px;
  }
  
  .head-left{
    height: 12vh;
    background:linear-gradient(to bottom right, #EF4765, #FF9A5A);
    /* background:#ff9900; */
    display: flex;
    align-items: center;
    border: 1px solid black;
  }
  .head-left > img{
    width: 70px;
    border-radius: 10px;
    margin: 0px 20px;
  }
  .orders-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #f8eef0, #f9f9d4);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th, td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
    /* background: linear-gradient(to left, rgb(243, 228, 244), rgb(225, 223, 237)); */
    /* background: #f0f8ff; */
    background: linear-gradient(to bottom right, #eea0b0, #e3e39d);
}
th{
  color: rgb(114, 40, 40);
}
td{
  background: #fcf7f7;
  color: rgb(2, 42, 2);
  margin-left: 10px;
}
th {
    /* background: linear-gradient(to left, rgb(243, 211, 246), rgb(225, 223, 237)); */
    background: #faddd0;
}
.order-status{
  display: flex;
  flex-direction: column;
  width: 17vw;
  margin-top: 28px;
  /* background: #f1f6fd; */
  background: (to bottom right, #f8eef0, #f9f9d4);
}
.order-status >h3{
  border-radius: 5px;
  /* margin-left: 10px; */
  color: rgb(11, 11, 11);
}
.orders{
  width: 83vw;
}
.order-status >h3 , .box >h3{
  width: 100%;
  /* margin: 0px 30px; */
  padding: 10px 30px;
  display: inline-block;
  color: gray;
  box-shadow: 2px 2px 1px rgba(237, 229, 229, 0.5);
  cursor: pointer;
}
.search-box{
  margin: 10px 20px;
  height: 2vw;
  display: flex;
}
.search-box >input{
  width: 330px;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 0px 15px;
  font-size: bold;
}
.button {
  background: linear-gradient(to bottom right, #f7b7c3, #947461);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 2.5; */
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0px 3px;
}

.button:not([disabled]) ,.order-status>h3:focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]) ,.order-status > h3:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box >h3{
  color: black;
  margin-left: 757px;
}
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background:linear-gradient(to bottom right, #EF4765, #FF9A5A);
}
.login-page{
  display: flex;
  flex-direction: column;
  height: 50vh;
  /* border: 2px solid red; */
  padding: 10px 20px;
  box-sizing: border-box;
  background:linear-gradient(to bottom right, #f0899c, #f6a475);
  border-radius: 10px;
}
.login-page > h2{
  margin-top: 20px;
  color: rgb(51, 48, 22);
} 
.form{
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  box-sizing: border-box;
}
form{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
form > label{
  margin: 10px 0px;
}
.form > form > input{
  width: 18vw;
  height: 4vh;
  padding: 2px 5px;
  border-radius: 5px;
}
.btn{
  margin-left: 25px;
  width: 18vw;
  height: 4vh;
  border-radius: 5px;
  background:linear-gradient(to bottom right, #f47b91, #ace981);
  font-size: large;
}

.account{
  cursor: pointer;
}

  